* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #FFE3CA;
  height: 100vh;
  margin: 0;
}

.watch {
  background-image: url("png-transparent-social-media-marketing-time-management-clock-clock-without-hands-angle-content-marketing-time.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 300px;
  height: 300px;
  border: 2px solid #000;
  border-radius: 50%;
}

.dot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #333;
  border-radius: 50%;
}

.needle {
  position: absolute;
  top: 15%;
  /* left: %; */
  transform-origin: 50% 100%;
  width: 3px;
}

#hour {
  background-color: red;
  height: 70px;
  top: 25%;
}

#minute {
  background-color: blue;
  height: 85px;
  top: 20.2%;
}


#second {
  height: 102px;
  background-color: black;
}

.count {
  background-color: #98ABEE;
  margin: 20px;
  padding: 10px;
  font-size: 25px;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: #387ADF;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}